body {
  display: flex;
  text-decoration: none;
  line-height: 1;
  flex-direction: column;
  gap: 32px 0px;
  justify-content: space-between;
  font-family: var(--main-font);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 1000;
  background-color: #181818;
  color: beige;
  padding: 15px 0;
  text-align: center;
}
.header > h1 {
  font-weight: bold;
  font-size: 59px;
}
.header > h2 {
  font-size: 20px;
  font-weight: 100;
}
.menu-icon {
  position: absolute;
  top: 40px;
  right: 50px;
  cursor: pointer;
}

.menu-icon img {
  width: 36px;
  height: 36px;
}

h1 {
  margin: 0;
  font-size: 59px;

  font-weight: 400;
}

h2 {
  font-size: 30px;
  font-weight: bolder;
}

.section-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.section-title h2 {
  padding: 15px 0 0 0;
  letter-spacing: 1px;
  color: black;
  margin-top: 125px;
  margin-bottom: 0;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
  gap: 1rem 0;
  justify-items: center;
  justify-content: space-between;
  scroll-behavior: smooth;
}

.product {
  height: 370px;
  width: 300px;
  background-color: white;
  margin-top: 0;
  text-align: start;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}

.product img {
  max-width: 100%;
  transition: 0.3s;
}

.product:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.75);
  transition: transform 0.3s ease;
}

.product h3 {
  font-size: 15px;
  margin: 10px 0px 10px 3px;
}

.product p {
  font-size: 17px;
  color: #555;
  margin:10px 0px 10px 3px;
}

.footer {
  background-color: #181818;
  color: beige;
  padding: 20px 0;
  text-align: center;
  position: relative;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
}

.footer-nav li {
  display: inline;
  margin: 0 15px;
}

.footer-nav a {
  color: beige;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-nav :hover {
  color: #7c7369;
}

.newsletter input[type='email'] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid beige;
  color: beige;
  padding: 5px;
  width: 300px;
  outline: none;

  font-size: 15px;
}

.newsletter input[type='email']::placeholder {
  color: beige;
  opacity: 0.7;
}

.newsletter button {
  height: 35px;
  font-size: 15px;
  padding: 10px 20px;
  background-color: beige;
  color: black;
  border: 1px transparent solid;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 10px;
}

.newsletter button:hover {
  background-color: #181818;
  color: white;
  transform: translate(0); /* Mantém o botão fixo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid white;
}

.social-media {
  margin-top: 20px;
}

.social-media a {
  margin: 0 10px;
}

.social-media img {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.social-media img:hover {
  transform: scale(1.5);
}

@media (max-width: 768px) {
  .product-container {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    overflow-x: auto;
    height: 35.25rem;
    scroll-behavior: smooth;
    padding: 0px 10px 0 10px;
  }
  .header {
    display: flex;
    align-items: center;
    height: 109px;
    padding: 0;
    justify-content: space-between;
    align-items: center;
  }
  .header > h1 {
    padding-left: 16px;
    text-align: start;
    font-size: 32px;
  }
  .header > h2 {
    display: none;
  }
  .menu-icon {
    position: unset;
    padding-right: 16px;
  }
  .product {
    min-width: 280px;
  }
  .product-container::-webkit-scrollbar {
    display: none;
  }
  .product:hover {
    transform: none;
  }
}
